html,body, main {
    margin: 0px;
    height: 100%;
    background-color: rgb(255, 211, 232);
}

.btn{
        font-size:15px;
        color: white;
        width: 100px;
        height: 40px;
        margin:auto;
}

.header{
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;
        position: fixed;
        width: 100%;
        height: 70px;
        border-bottom: 2px solid #59595a;
        background-color: rgb(255, 211, 232);
        display:flex; 
}

.textuser{
        height: 40px;
        width: 40px;
}

.user{
        width: 40px;
        height: 40px;
}
    
.Logo{
    margin: 20px  40px auto auto; 
}

.logo{
       height: 30px;
       width: 180px;
}

#user-info{
    margin: 10px 80px auto auto;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.btn-sign-out{
    background-color:rgb(255, 242, 0);
    margin-right: 80px;
    width:100px;
}

.signout{
    margin-right: 90px;
    height: 20px;
    width: 80px;
}

.user-logo{
    font-size: 35px;
}

.add{
        display: flex;
        flex-direction: column;
        align-items:center;
}

.AddMio{
        margin-right:30px;
        height:50%;
        width: 50%;
}

.addphoto{
        width: 145px;
        background-color:#112492c0;
        margin-left: 40px;
}

.addphoto:hover{
        background-color: #3be460c0
}

.filters{
        display: flex;
        flex-direction: column;
        align-items:center;
        
}

.filters-container{
        position:fixed;
        margin-top:110px;
        margin-left:75%;
        margin-right:10%;
        width: 220px;
        color:rgba(0, 0, 0, 0.637);
        font-size: 40px;
        display: flex;
        flex-direction: column;
        
}

.filter{
        padding-top: 3px;
        margin: 0px 0px 10px 0px;
        border-radius: 10px;
        color: rgb(0, 0, 0);
}

.Yui{
        height:60%;
        width: 60%;
}

.main{
        display: flex;
        flex-direction: column;
}
    
.filters-by-date{
        align-items: center;
        font-size:15px;
        display: flex;
        justify-content: flex-start;
}

.filt-by-date{
        margin:10px 5px 10px 5px;
        width: 60px;
}

.feed{
        align-items: center;
        margin-left:0px;
        margin-right:auto;
        margin-top:100px;
        display:flex;
        flex-direction: column;  
}

.posts{
        width: 800px;
}

.post{
        width: 90%;
        display: flex;
        align-self: center;
        flex-direction: column;
        margin:10px 10px 100px 10px;
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
        background-color: #3d051b17;
}

.post-toolbar{
         display: flex;
         width:100%;
         justify-content: space-between;
         margin-bottom: 5px;
}

.like-icon{
        color:rgb(150, 3, 3);
        margin-left: 16%;
        margin-right: 8%;
        font-size: 30px;
}

.post-upload-data{
        padding-top:5px;
        
        color:rgba(0, 0, 0, 0.753);
}

.post-username{
       padding-top:5px;
       color:black;
}

.delete-icon{
        font-size: 30px;
        color:rgba(0, 0, 0, 0.623);
}

.edit-icon{
        color:rgba(0, 0, 0, 0.623);
        font-size: 30px;
}

.post-info{
        margin-top:10px;
        display:flex;
        justify-content: space-between;
}

.post-info *{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 13px;
        background-color: white;
        border-radius: 10px;
        padding: 3px 3px 3px 3px;

        border: 2px solid #3d051b49;
        word-wrap: break-word;
}

.description{
        margin-right:3px;
        width: 63%;

}

.hashtags{
        margin-left:3px;   
        width: 34%;
        color:#004e63;
}

.btn-load-more{
        margin-bottom: 80px;
        background: rgb(31, 156, 87);
        border: 3px solid #3d051bc0 ;
        color: #3d051bc0;
    }

.btn-load-more:hover{
        background: #3d051b17;
}

.footer{
    background-color: rgb(255, 211, 232);
    height:80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #59595a;
}

.sitename{
    margin:20px 0px 20px 50px;
    width: 30%;
    font-size:30px;
    color: #6908d8
}

.update-string{
    margin: auto auto auto auto;
    align-self: auto;
    font-size: 25px;
    color: #003748c0
}

.contacts-info{
    display: flex;
    width: 32%;
    flex-direction: column;
    margin-right: 30px;
    color:rgba(0, 0, 0, 0.651);
}

.contacts-info *{
    text-align: end;
    margin: 10px 0px 0px 10px;
}

@media screen and (max-width: 950px) { 

    .AddMio{
            height:0px;
            width: 0px;
        }

    .Yui{
            height:0px;
            width: 0px;
        }

    .feed{
            margin-top:140px;
        } 

    .filters-container{
          margin: 70px 0 0 0;
          padding: 10px 0px 10px 0px;
          width: 100%;
          background-color: rgb(255, 211, 232);
          border:2px solid #3d051b23;
          border-radius: 2px;
          flex-direction: row;
          justify-content: space-around;
        }
        
    .filter{
            width:70px;
        }
    .filters-by-date{
            width:70px;
        }
    .filt-by-date{
            margin:0;
            width: 50%;
        }

        .sitename{
            font-size: 0px;
        }

}
@media screen and (max-width: 610px) { 
    .sitename{
            font-size: 0px;
        }

    .feed{
            margin-top:160px;
        } 

    .delete-icon,.edit-icon{
            font-size: 22px;
        }

    .like-icon{
            font-size: 25px;
        }

    .post-toolbar{
            font-size:15px;
        }

    .filters-by-date{
            flex-direction: column;
            font-size: 0px;
        }

    .filt-by-date{
            width: 100%;
            margin-bottom:5px;
        }
          
    .btn-new-post, .btn-sign-out{
              margin:auto;
          }

}



